@page "/"
@using BlazorWalkingBassline.Models

<PageTitle>Walking Basslines</PageTitle>

<h1>Walking Bassline Generator</h1>

@foreach (var chord in progression.Chords) 
{ 
    <p>@chord.ToString()</p>
}

@code { 

    private Progression progression = new Progression(
        "C",
        new List<Chord> { 
            new Chord(ScaleDegree.One),
            new Chord(ScaleDegree.Three),
            new Chord(ScaleDegree.Four),
            new Chord(ScaleDegree.Four, ChordQuality.Minor)
        }
    );


}